<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DemoReactKhoaPham</title>
</head>

<style>
  .mau-vang {
    color: yellow;
  }
  div {
    text-align: center;
  }
</style>

<body>
  
  <div id="root"></div>

  <script src="xuly.js" type="text/babel"></script>


  <script crossorigin src="lib/react.development.js"></script>
  <script crossorigin src="lib/react-dom.development.js"></script>
  <script src="lib/babel.min.js"></script>

</body>
</html>
